# Copyright (c) Facebook, Inc. and its affiliates.
# All rights reserved.
#
# This source code is licensed under the BSD-style license found in the
# LICENSE file in the root directory of this source tree.

[defaults]
inventory = hosts
host_key_checking = False
nocows = 1
roles_path = roles
timeout = 120

[ssh_connection]
pipelining=True
