# Copyright (c) Facebook, Inc. and its affiliates.
# All rights reserved.
#
# This source code is licensed under the BSD-style license found in the
# LICENSE file in the root directory of this source tree.

# App instance to use
CELERY_APP="main.celery"

# Where to chdir at start.
CELERYBEAT_CHDIR="/srv/piponger/"

# Absolute or relative path to the 'celery' command:
CELERY_BIN="$CELERYBEAT_CHDIR/env/bin/celery"

# Extra arguments to celerybeat
CELERYBEAT_OPTS="--schedule=/var/run/celery/celerybeat-schedule --loglevel=INFO --pidfile=/tmp/celerybeat.pid"
